<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Seguridad</title>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<link href="css/estilo_l4.css" rel="stylesheet">
</head>
<body>
	<div class="contenedor-robot">
		<form th:action="@{/seguridad}" th:object="${robot}" method="post">
			<div class="contenedor-radio">
				<input type="radio" th:field="*{soyRobot}" th:value = "${false}"/>
				<label>Soy un robot</label><i id="robot" class="fas fa-robot"></i><br><br>
				<span th:errors="*{soyRobot}" class="error"></span>
			</div>
			<input class="boton-aceptar" type="submit" value="Aceptar"> 
		</form>
		<a href="/producto"> 
			<input class="boton-regresar" type="submit" value="Regresar">
		</a>
	</div>
</body>
</html>



